.IndexOutSide{
    width:1536px;
    min-height:100vh;
    background: #ffffff;
}
.IndexTopBar{
    height:260px;
    width:100%;
    background: rgba(33,102,229,0.9);
}
.searchBar{
    height:200px;
    width:100%;
    padding:20px 100px;
}
.selectBar{
    height:80px;
    width:100%;
}
.Rankings{
    width:90%;
    flex-wrap:wrap; 
}